/* JM, 12/06/25 */
/* Final Project, WEB 238 */

:root {
  font-size: clamp(16px, calc(1vw + 0.6em), 1.125em);
  font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;

  --dark-moss-green: hsl(88, 40%, 26%);
  --dark-olive-green: hsl(85, 33%, 33%);
  --coffee: hsl(28, 28%, 32%);
  --artichoke: hsl(40, 15%, 54%);
  --boy-red: hsl(44, 21%, 34%);
  --black: hsl(0, 0%, 7%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee Inline", "Times New Roman", Times, serif;
}

p,
figcaption {
  max-width: 70ch;
}

/* Double container */

#wrapper {
  max-width: 100%;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: [left] auto [content] 1fr auto [right];
}

main {
  display: grid;
  grid-template-columns: [left] 1fr [content] 97.5vw 1fr [right];
}

#wrapper > *,
main > * {
  grid-column: content;
}

.full-bleed {
  grid-column: left / right;
  width: 100%;
}

main .full-bleed {
  padding-left: 3.75vw;
  padding-right: 3.75vw;
}

main section,
main > aside {
  & h2 {
    margin-top: 0;
  }
}

main > aside,
main section:first-of-type {
  margin-top: 2em;
}

main section:last-of-type {
  margin-bottom: 2em;
}

/* Header */

header,
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--coffee);
}

.baby-groot-icon {
  width: 5em;
  height: 5em;
  aspect-ratio: 1;
  padding: 0.5em;

  border-radius: 100%;
  background-color: linear-gradient(
    135deg,
    var(--artichoke) 0%,
    var(--boy-red) 100%
  );
  box-shadow: 0 0 0 1em var(--boy-red), 0 0 0.2em 1.1em var(--artichoke);
}

header .baby-groot-icon {
  border-radius: 10% 10% 100% 100%;
}

footer .baby-groot-icon {
  border-radius: 100% 100% 10% 10%;
}

/* Dropdown module */

.dropdown-menu {
  position: relative;
}

.dropdown-menu__hamburger {
  position: relative;
  z-index: 10;

  --hamburger-size: 3em;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  aspect-ratio: 1;

  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  text-indent: 10rem;
  text-align: center;

  cursor: pointer;

  overflow: hidden;
}

.bar {
  display: block;
  position: relative;
  left: 0.25em;

  width: calc(var(--hamburger-size) - 0.5em);
  height: 0.1875rem;
  margin: calc(var(--hamburger-size) / 4) 0;
  border-radius: 0.5rem;
  background-color: var(--black);

  transition: all 0.3s ease;
}

/* Middle bar */
.dropdown-menu__hamburger.is-open .bar:nth-child(2) {
  opacity: 0;
}

/* Top bar */
.dropdown-menu__hamburger.is-open .bar:nth-child(1) {
  transform: translateY(calc((var(--hamburger-size) / 4) - 0.25em))
    rotate(45deg);
}

/* Bottom bar */
.dropdown-menu__hamburger.is-open .bar:nth-child(3) {
  transform: translateY(calc(-1 * (var(--hamburger-size) / 2.5) - 0.25em))
    rotate(-45deg);
}

.dropdown-menu__menu {
  list-style: none;
  position: absolute;
  right: 0;
  z-index: 1000;

  padding: 0;
  margin: 0;

  white-space: nowrap;

  display: none;
}

.dropdown-menu__menu.above {
  transform: translateY(-9em);
}

/* Arrow connecting to the hamburger */
.dropdown-menu__menu.is-open::before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  aspect-ratio: 1;
  border: 0.8em solid;

  border-color: transparent transparent var(--boy-red) transparent;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-0.25em, -1.6em);
}

.dropdown-menu__menu.above::before {
  display: none;
}

.dropdown-menu__menu.above.is-open::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  aspect-ratio: 1;
  border: 0.8em solid;

  border-color: var(--boy-red) transparent transparent transparent;

  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-0.25em, -1.6em);
}

.dropdown-menu__menu > li > a {
  display: block;
  padding: 0.75em 1.5em;
  font-size: 1.25em;
  background-color: var(--boy-red);
  color: var(--black);
  text-decoration: none;

  text-align: center;
}

.dropdown-menu__menu > li:first-of-type > a {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.25em 0.5em;
}

.dropdown-menu__menu > li:last-of-type > a {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.dropdown-menu__menu > li > a:hover {
  background-color: var(--artichoke);
  color: #fff;
}

.dropdown-menu__menu > li > a:active {
  background-color: var(--coffee);
  color: #fff;
}

/* Main */

/* Carousel */

.carousel__container {
  /* min-height: auto; */
  max-width: 15em;
  overflow-x: hidden;
  /* position: relative; */

  .carousel {
    list-style-type: none;
    padding: 0;
    display: flex;

    will-change: transform;

    & .slide {
      min-width: fit-content;
      border-radius: 0.5em;

      & img {
        aspect-ratio: 1;
        object-fit: cover;
        max-width: 15em;
        border-radius: 0.125em;
      }
    }

    transition: transform 0.15s;
  }

  .carousel__controls {
    /* position: absolute; */
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;

    & button {
      font-size: 1.25em;
      padding: 0;
      width: 1.5em;
      height: 1.5em;
      border: none;
      background-image: linear-gradient(
        135deg,
        var(--artichoke) 0%,
        var(--boy-red) 100%
      );
      box-shadow: 0.05em 0.05em 0.25em var(--artichoke),
        -0.05em -0.05em 0.25em var(--boy-red);
      color: #222d;
      border-radius: 0.5em;
      cursor: pointer;
    }
  }
}

/* Blog posts */

.blog-post {
  margin: 1em auto;
}

.blog-post a {
  color: var(--dark-olive-green);
  text-underline-offset: 0.2em;
  padding-bottom: 0.25em;
  border-bottom: var(--dark-olive-green) 2px solid;
}

.more-posts,
.colophon__open,
.submit-form {
  display: block;
  padding: 0.25em 0.75em;
  font-size: 1em;
  background-color: var(--boy-red);
  color: var(--black);
  text-decoration: none;
  font-weight: bold;

  border-radius: 0.25em;
  border: 0.25em solid var(--artichoke);

  text-align: center;
}

/* Contact form */

.contact-form {
  display: grid;
  grid-template-columns: [icon] 2em [input] 1fr;
  gap: 0.75em;
  max-width: 65ch;
}

.contact-form h2 {
  grid-column: span 2;
}

.contact-form input {
  border-radius: 0.25rem;
  border: 0.0575em solid var(--black);
  padding: 0.5em 2em 0.5em 1em;
  grid-column: input;
}

.contact-form textarea {
  border-radius: 0.25rem;
  border: 0.0575em solid var(--black);
  padding: 0.5em 1em;
  aspect-ratio: 3 / 1;
}

.contact-form *::before {
  grid-column: icon;
}

.contact-form [type="submit"] {
  border: 0.125em solid var(--black);
}

/* Footer */

/* Colophon */

.colophon {
  max-width: calc(100vw - 2.5em);
  max-height: calc(100vh - 10em);

  padding: 1em;
  position: fixed;
  inset: 0;
}

.colophon__open,
.colophon__close,
button.translate {
  cursor: pointer;
}

.colophon__close {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;

  text-indent: 10rem;

  display: block;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  background-color: transparent;
  border: none;

  background-repeat: no-repeat;
  background-image: url("../assets/close-icon.svg");

  overflow: hidden;
  cursor: pointer;
}

.translated {
  display: none;
}

/* Icon before */

.icon-before::before {
  background: url("../assets/person-icon.svg") center/contain no-repeat;
  display: inline-block;
  vertical-align: bottom;
  content: " ";
  width: 1.75em;
  height: 1.75em;
  aspect-ratio: 1;
  margin-right: 0.25em;
}

.icon-before.translate::before {
  background-image: url("../assets/translate-icon.svg");
}

.icon-before.author::before {
  background-image: url("../assets/person-icon.svg");
}

.icon-before.article::before {
  background-image: url("../assets/article-icon.svg");
}

.icon-before.more::before {
  background-image: url("../assets/more-icon.svg");
}

.icon-before.comment::before {
  background-image: url("../assets/comment-icon.svg");
}

.icon-before.name::before {
  background-image: url("../assets/name-icon.svg");
}

.icon-before.email::before {
  background-image: url("../assets/email-icon.svg");
}

.icon-before.submit::before {
  background-image: url("../assets/send-icon.svg");
}

@media (min-width: 64em) {
  #wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: [left] auto [content] 1fr auto [right];
  }

  main {
    display: grid;
    grid-template-columns: [left] 1fr [sidebar] 20vw [content] 50vw 1fr [right];
    gap: 3em;
  }

  #wrapper > *,
  main > * {
    grid-column: content;
  }

  .about-the-author {
    grid-column: sidebar;
  }
}
