/* JM, 12/04/25 */
/* Final Project, WEB 238 */

:root {
  font-size: clamp(16px, calc(1vw + 0.6em), 1.125em);
  font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee Inline", "Times New Roman", Times, serif;
}

p,
figcaption {
  max-width: 80ch;
}

/* Double container */

#wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: [left] auto [content] 1fr auto [right];
}

main {
  display: grid;
  grid-template-columns: [left] 1fr [content] 97.5vw 1fr [right];
}

#wrapper > *,
main > * {
  grid-column: content;
}

.full-bleed {
  grid-column: left / right;
  width: 100%;
}

main .full-bleed {
  padding-left: 3.75vw;
  padding-right: 3.75vw;
}

main section,
main > aside {
  margin: 2em 0;

  & h2 {
    margin-top: 0;
  }
}

/* Header */

.baby-groot-icon {
  width: 5em;
  height: 5em;
  aspect-ratio: 1;

  /* FIXME: Center it */
}

/* Footer */

/* Colophon */

.colophon {
  max-width: calc(100vw - 2.5em);
  max-height: calc(100vh - 10em);

  padding: 1em;
  position: fixed;
  inset: 0;
}

.colophon__close {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 100;

  text-indent: 10rem;

  display: block;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  padding: 0.5rem;
  background-color: transparent;
  border: none;

  background-repeat: no-repeat;
  background-image: url("../assets/close-icon.svg");

  overflow: hidden;
}

.translated {
  display: none;
}

/* Icon before */

.icon-before::before {
  background: url("../assets/person-icon.svg") center/contain no-repeat;
  display: inline-block;
  vertical-align: bottom;
  content: " ";
  width: 1.75em;
  height: 1.75em;
  aspect-ratio: 1;
  margin-right: 0.25em;
}

.icon-before.translate::before {
  background-image: url("../assets/translate-icon.svg");
}

.icon-before.author::before {
  background-image: url("../assets/person-icon.svg");
}

.icon-before.article::before {
  background-image: url("../assets/article-icon.svg");
}

@media (min-width: 64em) {
  #wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: [left] auto [content] 1fr auto [right];
  }

  main {
    display: grid;
    grid-template-columns: [left] 1fr [content] 80vw 1fr [right];
  }

  #wrapper > *,
  main > * {
    grid-column: content;
  }
}
